div{
   position: absolute;
   background-color: red;
   border: 5px solid black;
   top: 10px;
   left: 10px;
   width: 200px;
   height: 100px;

	
   transition: all 1s ease-in 2s;

}

div:hover{
	width: 400px;
}

/* 
css
div{
   transition: width 1s, background-color 1s;
}

javaScript
var element = document.getElementsByTagName('div')[0];
setInterval(()=>{
   element.style.backgroundColor = "blue";
},2000);

setTimeout(()=>{
   setInterval(()=>{
      element.style.backgroundColor = "red";
   },2000);
}, 1000);



*/